

<div class="container mt-3">
    <div class="box">

        <div class="row">
            <div class="col-12">
                <h5 class="header p-2">CONSULTA DE CANDIDATOS</h5>
            </div>
        </div>

        <div class="row form my-4">
            <div class="col">
                <b class="pl-4">BUSCA A TU CANDIDATO POR PARTIDO</b>
            </div>
        </div>

        <div class="form-group row m-3">
            <label for="tipoDoc" class="col-5 col-md-3 col-lg-3 col-form-label">Partido Politico</label>
            <select class="col-7 col-md-3 col-lg-3 form-control fix-select-tipoDoc">
                <option>PARTIDO A</option>
                <option>PARTIDO B</option> 
                <option>PARTIDO C</option>
            </select>
        </div>
        <div class="form-group row m-3">
            <label for="tipoDoc" class="col-5 col-md-3 col-lg-3 col-form-label">Plancha</label>
            <select class="col-7 col-md-3 col-lg-3 form-control fix-select-tipoDoc">
                <option>PLANCHA A</option>
                <option>PLANCHA B</option> 
                <option>PLANCHA C</option>
            </select>
        </div>

        <div class="form-group row m-3">
                <label for="tipoDoc" class="col-5 col-md-3 col-lg-3 col-form-label">DNI</label>
                
                <div class="col-8 col-md-3 uk-column-large-1-2 fix-space">
                    <input placeholder="DNI"/>
                </div>
                
        </div>

        <div class="form-group row m-3">
        <button type="button" class="btn btn-danger col-md-2 col-12 fix-space col-lg-2"
                >Buscar</button></div>
        <br>

        <ng-container>
            <div class="resultados m-3">
                <h6><b>Lista de candidatos por partido</b></h6>
                <hr class="line-empleadores">
                <h6>Total de registros encontrados: </h6><br>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="text-uppercase" scope="col">Item</th>
                            
                            <th class="text-uppercase" scope="col">Partido</th>
                            <th class="text-uppercase" scope="col">Número</th>
                            <th class="text-uppercase" scope="col">Bancada</th>
                            <th class="text-uppercase" scope="col">Ver</th>
                        </tr>
                    </thead>
                    <tbody>
            
                            <th scope="row"></th>
                            
                            <td>
                                
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <span> 
     
                                </span>
                            </td>
                        
                    </tbody>
                </table>

            </div>
        </ng-container>

    </div>
</div>